.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #ffd800;
    }

#footer1 {
    background: #F9A602;
}

#footer2 {
    background: #F9A602;
}
